*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 209, 209);
}

.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.content{
    font-size: 18px;
    font-weight: 400;
    width: 60%;
}